body {
	text-align: center;
	font-family: 'Lemonada', cursive;
}


/* To Make the navigation background colored yellow as default is white in Bootstrap CSS */

.nav-bg-color {
	background-color: #ffc300;
}


/* To Make the navigation buttons colored white as default is black in Bootstrap CSS */

.nav-button-colors {
	color: #f9f9f9!important;
}


/* Horizontal rule CSS */

.line {
	border-style: none;
	border-width: 8px;
	border-top-style: dotted;
	width: 5%;
	border-color: e1ffc2;
	margin-top: 50px;
	margin-bottom: 0;
}


/* Style for DIV After hr tag for spacing */

.empty {
	height: 30px;
}


/* HEAD CSS for all Pages  */

.head {
	color: #f9f9f9;
	font-size: 7rem;
	padding-bottom: 20px;
}


/* subtitles CSS for all pages */

.subtitle {
	color: #1b262c;
	font-size: 20px;
	padding-bottom: 20px;
}


/* PAGEONE */


/* Page one or Name Section */

#page-one {
	padding-top: 10%;
	background-color: #ffc300;
}


/* PAGETWO */


/* Page two or Work section */

#page-two {
	padding-top: 10%;
	background-color: #1dd3bd;
}


/* PAGETHREE */


/* Page three or passion Section */

#page-three {
	padding-top: 10%;
	background-color: #f751a7;
}


/* PAGEFOUR */


/* PAge four or learn section */

#page-four {
	padding-top: 10%;
	background-color: #c2d53f;
}


/* PAGEFIVE */


/* PAge five or free time section */

#page-five {
	padding-top: 10%;
	background-color: #e9a1b9;
}


/* Footer section CSS */

#footer {
	padding-top: 3%;
	background-color: #ffc300;
}


/* Social Icons CSS */

.foot-links {
	margin: 0 10px 0 10px;
	color: #fa7d09;
}


/* HOver CSS for social Icons */

.foot-links:hover {
	color: white;
}


/* FOoter CopyRight CSS */

.copyright {
	padding-top: 20px;
	margin-bottom: 0;
	color: #7c7c7c;
}

.test{
  padding-top: 2%;
  padding-left: 15%;
  padding-right: 15%;
}
